@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amatic+SC&family=Pacifico&display=swap');


body, p, ul, li, img, form, h1, h2 {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #0f0f0d;
   
}

.pic-and-logo {
    width: 30%;
    min-width: 300px;
}

.pic-container img {
    height: 100vh;
    width: 100%;
    z-index: -1;
      
}


.logo-and-text {
    background-color: black;
    opacity: 0.55;
    height: 100px;
    width: 30%;
    min-width: 200px;
    position: absolute;
    top: 254px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    z-index: +1;
    min-width: 300px;
}

p, div {
    color: white;
}

.logo-and-text p {
    /* display: inline; */
    font-family: 'Pacifico', cursive;
    color:white;   
    font-size: 35px; 

}

.pic-credit {
    position: absolute;
    width: 30%;
    display: flex;
    font-size: 12px;
    bottom: 8px;
    align-items: center;
    justify-content: center;
    color: white;
}


body {
    /* margin: 0px 100px; */
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    width: 70%;
    max-width: 500px;
}  

.placeholder-text {
    background-color:#b19a83;
    min-height: calc(100vh/3);
}

.form-container {
    background-color: #f0b97a;
    min-height: calc(100vh/3);
    /* display: flex; */
    /* flex-direction: column; */
    /* overflow-y: none; */
}

.form-inner {
    display: flex;
    /* gap: 200px; */
    /* justify-content: space-between; */
    padding-top: 30px;
    padding-left: 50px;
    gap: 70px;
    
}

/* .form-row-1 {
    margin: 55px;
    padding-top: 25px;
}

.form-row-2 {
    padding-top: 25px;
}  */

.form-row-1, .form-row-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding: 40px; */
}

.button-container {
    background-color: #a99c93;
    min-height: calc(100vh/3);
}

label, input {
    display: flex;
    flex-direction: column;
}


input {
    border-radius: 6px;
    border: 1px solid #729bec;
}

input:focus {
    box-shadow: 0px 15px 5px -15px black;    
}

label {
    color: black;
    font-size: 14px;
}


#fname, #email, #lname, #number {
    margin-bottom: 10px;
}




.placeholder-text p {
    font-size: 20px;
    color: black;
    font-weight: 500;
    width: 500px;
}


.placeholder-text p:nth-of-type(1) {
    padding-top: 80px;
    padding-left: 50px;
    
}

.placeholder-text p:nth-of-type(2) {
    padding-top: 20px;
    padding-left: 50px;
    
}

button {
    background-color:#f0b97a;
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 50px;
    padding: 7px 45px;
    border: 2px solid white;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.button-container p {
    padding-top: 20px;
    padding-left: 50px;
    font-size: 20px;
}

h2 {
    padding-left: 50px;
    padding-top: 30px;
    font-size: 20px;
    color: black;
    font-weight: 500;
}


/* body {
    margin-left: 85px;
    margin-right: 85px;
} */

button + p {
    color: black;
}
